# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.dist/

# Virtual environments
.env/
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

